<p>
  <b>User:</b>
  <%= h @topic.user_id %>
</p>

<%if @topic.voting_id%>
<p>
  <b>Voting:</b>
  <%= h @topic.voting_id %>
</p>
<% end %>

<p>
  <b>Content:</b>
  <%= h @topic.content %>
</p>

<p>
  <b>Rating:</b>
  <%= h @topic.rating %>
</p>

<br>
<hr>
<p>
	<%= render :partial => 'comments' %>
	<%= @topic.comments.size %>

</p>

<%= link_to 'New', :controller => :comments, :action => :new, :topic_id => @topic.id %> |
<%= link_to 'Back', topics_path %>