
<%if nil and @topic.voting %>
<p>
  <b>Voting:</b>
  <%= h @topic.voting %>
</p>
<% end %>

<p>
  <%= textilize( h @topic.content) %>
</p>

<p>
  <b>Рейтинг:</b>
  <%= h @topic.rating %>
</p>

<div class = "under_topic">
  Автор: <%= h @topic.student.login %>
  <% if @topic.student.rating %>
  (<font color="<%= 
  if @topic.student.rating > 0
    "green"
  elsif @topic.student.rating == 0
    "gray"
  else
    "red"
  end
  %>"><%= @topic.student.rating %></font>)
  <% end %>
</p>
</div>
<br>
<p>
	<%= render :partial => 'comments' %>

</p>

<%= link_to 'Комментировать', :controller => :comments, :action => :new, :topic_id => @topic.id %> |
<%= link_to 'Назад', topics_path %>

