<!DOCTYPE html>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-language" content="ru">
	<meta name="Document-state" content="Dinamic">
	<meta name="Resource-type" content="Document">
	<title>Topics: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'style' %>
	<link rel="stylesheet" href="style.css" type="text/css" media="screen">
	<body>
		<div id="head">
			<div class="inline" id="avatar">
				<div id="top">
					<%= image_tag(@student[:image] ? @student[:image] : "noavatar.gif", :width => 100, :height => 100)%>
				</div>
        <div id="bottom">
					<%= image_tag("karma_ruby.png")%> <%= @student[:karma]%>
				</div>
			</div>
			<div class="inline" id="top_center">
        <div class="inline" id="fio">
           <%= render :partial => 'students/student_bar' %>
					<br>
					<font color="blue">5<%= @student[:msg_count]%></font> Сообщений
				</div>
				<div class="inline" id="marks">
					<table>
						<% @student.mmarks = {'Дифференциальные уравнения' => 5, 
					    'Практикум по системному программированию' => 8,
					    'Теория вероятностей и математическая статистика' => 10,
					    'Базы данных и СУБД' => 100,
					    'Системное и прикладное ПО' => 3,
					    'Комплексный анализ' => 40,
					    'Вычислительная математика' => 10
					    }
					  %>
					  <% @student.mmarks.each do | subject, mark |%>
					    <tr>
  							<td>
  								<%= h subject %>
  							</td>
  							<td>
  								<%= h mark %>
  							</td>
  						</tr>
					  <% end %>
					</table>
				</div>
			</div>
   <div class="inline">
			
				<br>
				<%= image_tag("logo.png")%> 
			</div>
		</div>
		<div id="content">   
			<%= yield%>
		</div>
		<div id="footer">
		</div>
	</body>